.modal-backdrop {
    background-color: var(--modal-backdrop-bg);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fadeIn 200ms;

    &:not(.show) {
        display: none;
    }

    &.fadeOut {
        animation: fadeOut 100ms 100ms;
    }
}

@keyframes fadeIn {
    0%, 50% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.modal-header, .modal-header > * {
    color: var(--modal-header-color);
}

.modal-content {
    position: absolute;
    left: calc(50% - 24rem);
    right: calc(50% - 24rem);
    margin: 0 1rem;
    animation: appear 200ms;
}

@media (max-width: 768px) {
    .modal-content {
        left: 0;
        right: 0;
    }
}

.modal.fadeOut .modal-content {
    animation: disappear 200ms;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-100%) scale(.8);
    }
}

@keyframes disappear {
    to {
        opacity: 0;
        transform: translateY(-100%) scale(.8);
    }
}

.modal-body {
    box-shadow: 0 0 0 1px var(--control-bg);
}