.neumorphism-shadow {
    box-shadow: $neumorphism-shadow-box-shadow;
}

.neumorphism-shadow-sm {
    box-shadow: $neumorphism-shadow-box-shadow-sm;
}

.body-bg {
    background-color: var(--body-bg);
}

.body-bg-stronger {
    background-color: var(--body-bg-stronger);
} 