.neumorphism-shadow {
    box-shadow: 35px 35px 63px var(--neumorphism-shadow-color), -35px -35px 63px var(--neumorphism-light-color);
}

.neumorphism-shadow-sm {
    box-shadow: 8px 8px 16px var(--neumorphism-shadow-color), -4px -4px 16px var(--neumorphism-light-color);
}

.body-bg {
    background-color: var(--body-bg);
}

.body-bg-stronger {
    background-color: var(--body-bg-stronger);
} 