.neumorphism-shadow {
    box-shadow: var(--neumorphism-shadow);
}

.neumorphism-shadow-sm {
    box-shadow: var(--neumorphism-shadow-sm);
}

.body-bg {
    background-color: var(--body-bg);
}

.body-bg-stronger {
    background-color: var(--body-bg-stronger);
} 